/************** INDEX.JS(HOME) CSS ONLY ***************/
.main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
    height: 100vh;
    width: 100vw;
}